* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: sans-serif;
}

button {
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    border: solid 2px rgb(0,0,0);
    box-shadow: 2px 2px 2px rgb(0,0,0);
    background-color: rgb(240, 191, 30);
}

h2 {
    font-size: 20px;
    padding-right: 60px;
}

.box {
    border: solid 2px rgb(0,0,0);
    width: 300px;
    padding: 10px;
}

.box-title {
    display: inline-flex;
    padding-bottom: 10px;
}

.like-count {
    padding-right: 20px;
}
